@import url(chrome://global/skin/);

prefpane, tabbox, tabpanels, tabpanel, groupbox, iframe {
-moz-box-flex: 1;
}

prefpane > tabbox {
/*If we don't do this, the bottom of the tabbox is cut off*/
padding-bottom: 16px;
}

tabbox[orient="horizontal"] > tabs > tab {
min-width: 110px;
}

description {
max-width: 360px;
}

description.indent {
opacity: 0.75;
}

textbox[multiline="true"] {
height: 37px;
}

textbox[type="number"] {
max-width: 50px;
}

#usercolorsPanel textbox {
width: 60px;
}

#usercolorsPanel menulist {
width: 75px;
}

/*default styles for username preview*/
#username {
font-family: Arial,Helvetica,sans-serif;
font-size: 13.3333px;
color: #000099;
background-color: transparent;
border: 1px solid #b1b3bc;
font-weight: bold;
font-style: normal;
text-decoration: none;
}

/*default color for the text color preview - others are transparent*/
#colorPreview {
background-color: #000099;
}

#preview {
background-color: #b1b3bc;
padding: 1px;
}