@-moz-document domain(boards.ign.com),
 domain(vnboards.ign.com),
 domain(betaboards.ign.com),
 domain(forums.ign.com){
a[href^="http://club.ign.com/b/about?username="]:not([class="BoardRowBLink"]):not(.AuthorLink),
a[href^="/ASP/admin/userportal.asp?usr="]:not(.AuthorLink){
 }
 a[href*="SwitchBlade25755"] ~ a.BoardUserIconLink > img.BoardUserIcon {
height: 0 ! important;
 padding-bottom: 80px;
 background-image: url('http://media.ign.com/boards/images/icons2/heyfool2.gif');
}
 a[href^="http://club.ign.com/b/about?username=baronrules2008"],
 a[href^="/ASP/admin/userportal.asp?usr=baronrules2008"]{
 color:#48286c !important;
background-color:#ff7a31 !important;
border:1px solid #ff7a31 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=juggalo13021"],
 a[href^="/ASP/admin/userportal.asp?usr=juggalo13021"]{
 color:#8B0000 !important;
background-color:#000000 !important;
border:1px solid #8B0000 !important;
font-weight:bold !important;
font-style:italic !important;
text-decoration:underline !important;
 }
 a[href^="http://club.ign.com/b/about?username=Nice...Bullseye"],
 a[href^="/ASP/admin/userportal.asp?usr=Nice...Bullseye"]{
 color:#221559 !important;
background-color:#345576 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Christhepirate"],
 a[href^="/ASP/admin/userportal.asp?usr=Christhepirate"]{
 color:#000000 !important;
background-color:#b1b3bc !important;
border:1px solid #000000 !important;
font-weight:normal !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Christhepirate"] > b,
 a[href^="/ASP/admin/userportal.asp?usr=Christhepirate"] > b {
 font-weight:inherit !important;
 }
 a[href^="http://club.ign.com/b/about?username=sye024"],
 a[href^="/ASP/admin/userportal.asp?usr=sye024"]{
 font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=ChaosLord12"],
 a[href^="/ASP/admin/userportal.asp?usr=ChaosLord12"]{
 color:#0000FF !important;
background-color:#000000 !important;
border:1px solid #0000FF !important;
font-weight:bold !important;
font-style:italic !important;
text-decoration:underline !important;
 }
 a[href^="http://club.ign.com/b/about?username=The_Sigh"],
 a[href^="/ASP/admin/userportal.asp?usr=The_Sigh"]{
 color:#FFFF00 !important;
background-color:#ADFF2F !important;
border:1px solid #FFFF00 !important;
font-weight:bold !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Cheski"],
 a[href^="/ASP/admin/userportal.asp?usr=Cheski"]{
 color:#020000 !important;
background-color:#fafbfc !important;
 }
 a[href^="http://club.ign.com/b/about?username=olibacon"],
 a[href^="/ASP/admin/userportal.asp?usr=olibacon"]{
 color:#000000 !important;
background-color:#fff000 !important;
border:1px solid #ff0000 !important;
font-weight:normal !important;
font-style:normal !important;
text-decoration:line-through !important;
 }
 a[href^="http://club.ign.com/b/about?username=olibacon"] > b,
 a[href^="/ASP/admin/userportal.asp?usr=olibacon"] > b {
 font-weight:inherit !important;
 }
 a[href^="http://club.ign.com/b/about?username=Dakotawolf_"],
 a[href^="/ASP/admin/userportal.asp?usr=Dakotawolf_"]{
 color:#0b0202 !important;
background-color:#b5b5b5 !important;
border:1px solid #b6b6b6 !important;
 }
 a[href^="http://club.ign.com/b/about?username=The.Black.Suit"],
 a[href^="/ASP/admin/userportal.asp?usr=The.Black.Suit"]{
 color:#ffffff !important;
background-color:#000000 !important;
border:1px solid #000000 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:overline !important;
 }
 a[href^="http://club.ign.com/b/about?username=RemyKitsch"],
 a[href^="/ASP/admin/userportal.asp?usr=RemyKitsch"]{
 font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=-ItsWhatIDo"],
 a[href^="/ASP/admin/userportal.asp?usr=-ItsWhatIDo"]{
 color:#f6fbf7 !important;
background-color:#000000 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Danny3165"],
 a[href^="/ASP/admin/userportal.asp?usr=Danny3165"]{
 color:#DDBFA8 !important;
background-color:#000000 !important;
border:1px solid #DDBFA8 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=rtsannes62992"],
 a[href^="/ASP/admin/userportal.asp?usr=rtsannes62992"]{
 color:#151B54 !important;
background-color:#FFFF00 !important;
border:1px solid #000000 !important;
font-weight:bold !important;
font-style:italic !important;
text-decoration:underline !important;
 }
 a[href^="http://club.ign.com/b/about?username=iluvmudkipz"],
 a[href^="/ASP/admin/userportal.asp?usr=iluvmudkipz"]{
 color:#60e8fd !important;
background-color:#5b5b5b !important;
border:1px solid #60e8fd !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Freudian-Slip"],
 a[href^="/ASP/admin/userportal.asp?usr=Freudian-Slip"]{
 color:#E41B17 !important;
border:1px solid #C11B17 !important;
font-weight:normal !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Freudian-Slip"] > b,
 a[href^="/ASP/admin/userportal.asp?usr=Freudian-Slip"] > b {
 font-weight:inherit !important;
 }
 a[href^="http://club.ign.com/b/about?username=Naimad07"],
 a[href^="/ASP/admin/userportal.asp?usr=Naimad07"]{
 color:#e2e2e2 !important;
background-color:#314b29 !important;
border:1px solid #e2e2e2 !important;
font-weight:normal !important;
font-style:normal !important;
text-decoration:line-through !important;
 }
 a[href^="http://club.ign.com/b/about?username=Naimad07"] > b,
 a[href^="/ASP/admin/userportal.asp?usr=Naimad07"] > b {
 font-weight:inherit !important;
 }
 a[href^="http://club.ign.com/b/about?username=Arian88"],
 a[href^="/ASP/admin/userportal.asp?usr=Arian88"]{
 color:#f0f0f0 !important;
background-color:#0f3d57 !important;
border:1px solid #dbdbdb !important;
font-weight:normal !important;
font-style:normal !important;
text-decoration:line-through !important;
 }
 a[href^="http://club.ign.com/b/about?username=Arian88"] > b,
 a[href^="/ASP/admin/userportal.asp?usr=Arian88"] > b {
 font-weight:inherit !important;
 }
 a[href^="http://club.ign.com/b/about?username=BlackCaesar-THSLA"],
 a[href^="/ASP/admin/userportal.asp?usr=BlackCaesar-THSLA"]{
 color:#fdd023 !important;
background-color:#461d7c !important;
border:1px solid #461d7c !important;
font-weight:bold !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Gunzpoint56"],
 a[href^="/ASP/admin/userportal.asp?usr=Gunzpoint56"]{
 color:#000000 !important;
background-color:#6698FF !important;
border:1px solid #000000 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:overline !important;
 }
 a[href^="http://club.ign.com/b/about?username=GameMaster2113"],
 a[href^="/ASP/admin/userportal.asp?usr=GameMaster2113"]{
 color:#ffffff !important;
background-color:#000000 !important;
border:1px solid #ff0029 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Ultimate_Bizzaro"],
 a[href^="/ASP/admin/userportal.asp?usr=Ultimate_Bizzaro"]{
 color:#ffffff !important;
background-color:#00000f !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=XSShadow"],
 a[href^="/ASP/admin/userportal.asp?usr=XSShadow"]{
 color:#B1B3BC !important;
background-color:#000000 !important;
border:1px solid #000000 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:overline !important;
 }
 a[href^="http://club.ign.com/b/about?username=WahooWorld15"],
 a[href^="/ASP/admin/userportal.asp?usr=WahooWorld15"]{
 color:#FF6600 !important;
background-color:#000099 !important;
border:1px solid #000099 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:underline !important;
 }
 a[href^="http://club.ign.com/b/about?username=HandyMan191"],
 a[href^="/ASP/admin/userportal.asp?usr=HandyMan191"]{
 color:#4682B4 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:underline !important;
 }
 a[href^="http://club.ign.com/b/about?username=Stafford2Moreno"],
 a[href^="/ASP/admin/userportal.asp?usr=Stafford2Moreno"]{
 color:#030000 !important;
background-color:#fdfafa !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:underline !important;
 }
 a[href^="http://club.ign.com/b/about?username=nutsck-ktchn-drftn"],
 a[href^="/ASP/admin/userportal.asp?usr=nutsck-ktchn-drftn"]{
 color:#009900 !important;
font-weight:bold !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=HolyBlasphemy"],
 a[href^="/ASP/admin/userportal.asp?usr=HolyBlasphemy"]{
 color:#CC0011 !important;
background-color:#FFFFFF !important;
border:1px solid #000000 !important;
font-weight:bold !important;
font-style:italic !important;
text-decoration:line-through !important;
 }
 a[href^="http://club.ign.com/b/about?username=YaBlewIt"],
 a[href^="/ASP/admin/userportal.asp?usr=YaBlewIt"]{
 color:#cc9900 !important;
background-color:#111111 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=viator2000"],
 a[href^="/ASP/admin/userportal.asp?usr=viator2000"]{
 color:#000000 !important;
font-weight:normal !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=viator2000"] > b,
 a[href^="/ASP/admin/userportal.asp?usr=viator2000"] > b {
 font-weight:inherit !important;
 }
 a[href^="http://club.ign.com/b/about?username=rdogg1026"],
 a[href^="/ASP/admin/userportal.asp?usr=rdogg1026"]{
 color:#280fbd !important;
background-color:#bc8c0d !important;
border:1px solid #000000 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=knors1285"],
 a[href^="/ASP/admin/userportal.asp?usr=knors1285"]{
 color:#000000 !important;
background-color:#800517 !important;
border:1px solid #000000 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=mgsnakeRPJ22"],
 a[href^="/ASP/admin/userportal.asp?usr=mgsnakeRPJ22"]{
 color:#d0beb4 !important;
background-color:#50605c !important;
border:1px solid #ffffff !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=TrueBlasian"],
 a[href^="/ASP/admin/userportal.asp?usr=TrueBlasian"]{
 color:#ffffff !important;
background-color:#000000 !important;
border:1px solid #ffffff !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=laxboy9"],
 a[href^="/ASP/admin/userportal.asp?usr=laxboy9"]{
 color:#FFD700 !important;
background-color:#000000 !important;
border:1px solid #FFD700 !important;
font-weight:bold !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=chrisdamexican"],
 a[href^="/ASP/admin/userportal.asp?usr=chrisdamexican"]{
 font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=4_Itchy_Tasty"],
 a[href^="/ASP/admin/userportal.asp?usr=4_Itchy_Tasty"]{
 font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Chokomofo"],
 a[href^="/ASP/admin/userportal.asp?usr=Chokomofo"]{
 color:#FF6600 !important;
background-color:#000000 !important;
border:1px solid #FF6600 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Crazy888"],
 a[href^="/ASP/admin/userportal.asp?usr=Crazy888"]{
 color:#000000 !important;
background-color:#000000 !important;
border:1px solid #000000 !important;
font-weight:bold !important;
font-style:italic !important;
text-decoration:line-through !important;
 }
 a[href^="http://club.ign.com/b/about?username=raza1495"],
 a[href^="/ASP/admin/userportal.asp?usr=raza1495"]{
 color:#ffffff !important;
background-color:#00bfff !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=HextupleyooDOT"],
 a[href^="/ASP/admin/userportal.asp?usr=HextupleyooDOT"]{
 color:#0047ab !important;
background-color:#ffffff !important;
border:1px solid #0047ab !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=p00ndawg"],
 a[href^="/ASP/admin/userportal.asp?usr=p00ndawg"]{
 color:#FFFFFF !important;
background-color:#FF00FF !important;
border:1px solid #FF00FF !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Stunner_Fan_No.1"],
 a[href^="/ASP/admin/userportal.asp?usr=Stunner_Fan_No.1"]{
 color:#0a0090 !important;
background-color:#ffffff !important;
border:1px solid #0a0090 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Stunnerman"],
 a[href^="/ASP/admin/userportal.asp?usr=Stunnerman"]{
 color:#FF0000 !important;
background-color:#000000 !important;
border:1px solid #FF0000 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Heywood-U-Cuddleme"],
 a[href^="/ASP/admin/userportal.asp?usr=Heywood-U-Cuddleme"]{
 color:#4D627A !important;
background-color:#D78595 !important;
border:1px solid #4D627A !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=PirateElephant"],
 a[href^="/ASP/admin/userportal.asp?usr=PirateElephant"]{
 color:#000000 !important;
background-color:#52c7dc !important;
border:1px solid #fdfdfd !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:overline !important;
 }
 a[href^="http://club.ign.com/b/about?username=luckynacho"],
 a[href^="/ASP/admin/userportal.asp?usr=luckynacho"]{
 color:#ffff66 !important;
background-color:#ff9900 !important;
border:1px solid #cc3333 !important;
font-weight:normal !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=luckynacho"] > b,
 a[href^="/ASP/admin/userportal.asp?usr=luckynacho"] > b {
 font-weight:inherit !important;
 }
 a[href^="http://club.ign.com/b/about?username=GTporsche"],
 a[href^="/ASP/admin/userportal.asp?usr=GTporsche"]{
 color:#b11717 !important;
background-color:#002c77 !important;
border:1px solid #000000 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Fat_Friar"],
 a[href^="/ASP/admin/userportal.asp?usr=Fat_Friar"]{
 color:#FFFB0A !important;
background-color:#000000 !important;
border:1px solid #FFFB0A !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=flamestrike2004"],
 a[href^="/ASP/admin/userportal.asp?usr=flamestrike2004"]{
 color:#ffe866 !important;
border:1px solid #ffe866 !important;
 }
 a[href^="http://club.ign.com/b/about?username=tacos_tacos_tacos"],
 a[href^="/ASP/admin/userportal.asp?usr=tacos_tacos_tacos"]{
 color:#FFFFFF !important;
background-color:#0099cb !important;
border:1px solid #94cb77 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Audio-Technica"],
 a[href^="/ASP/admin/userportal.asp?usr=Audio-Technica"]{
 color:#990066 !important;
border:1px solid #990066 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=osukdawg76"],
 a[href^="/ASP/admin/userportal.asp?usr=osukdawg76"]{
 color:#ec2323 !important;
background-color:#c6c8d1 !important;
border:1px solid #de4d6b !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=TheDogSaidWoof"],
 a[href^="/ASP/admin/userportal.asp?usr=TheDogSaidWoof"]{
 color:#000000 !important;
background-color:#FFCC99 !important;
border:1px solid #000000 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=BigRandal_ps3"],
 a[href^="/ASP/admin/userportal.asp?usr=BigRandal_ps3"]{
 color:#0f1ddb !important;
background-color:#f32525 !important;
border:1px solid #ffffff !important;
font-weight:bold !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=LinkReborn"],
 a[href^="/ASP/admin/userportal.asp?usr=LinkReborn"]{
 font-weight:bold !important;
font-style:italic !important;
text-decoration:overline !important;
 }
 a[href^="http://club.ign.com/b/about?username=VaTech07"],
 a[href^="/ASP/admin/userportal.asp?usr=VaTech07"]{
 font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=ojp_mvp"],
 a[href^="/ASP/admin/userportal.asp?usr=ojp_mvp"]{
 color:#daa520 !important;
background-color:#4b0082 !important;
border:1px solid #daa520 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=ajax_85"],
 a[href^="/ASP/admin/userportal.asp?usr=ajax_85"]{
 color:#f8ca17 !important;
background-color:#006600 !important;
border:1px solid #000000 !important;
font-weight:bold !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Mr.09"],
 a[href^="/ASP/admin/userportal.asp?usr=Mr.09"]{
 color:#0098d2 !important;
background-color:#001052 !important;
border:1px solid #f00801 !important;
font-weight:bold !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Taylor.Lautner"],
 a[href^="/ASP/admin/userportal.asp?usr=Taylor.Lautner"]{
 color:#ffffff !important;
background-color:#FF03BB !important;
border:1px solid #ffffff !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Some_Random_Aussie"],
 a[href^="/ASP/admin/userportal.asp?usr=Some_Random_Aussie"]{
 color:#FFFF00 !important;
background-color:#04B404 !important;
border:1px solid #FFFF00 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Dashing_Cord_Wd"],
 a[href^="/ASP/admin/userportal.asp?usr=Dashing_Cord_Wd"]{
 font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=outbrake"],
 a[href^="/ASP/admin/userportal.asp?usr=outbrake"]{
 color:#000000 !important;
background-color:#088A08 !important;
border:1px solid #000000 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:underline !important;
 }
 a[href^="http://club.ign.com/b/about?username=StePhenom"],
 a[href^="/ASP/admin/userportal.asp?usr=StePhenom"]{
 color:#E16C1E !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=PepsiRacer4"],
 a[href^="/ASP/admin/userportal.asp?usr=PepsiRacer4"]{
 color:#FF0000 !important;
background-color:#0009FF !important;
border:1px solid #000000 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=hitmonshark"],
 a[href^="/ASP/admin/userportal.asp?usr=hitmonshark"]{
 color:#FFFF00 !important;
background-color:#5F9EA0 !important;
border:1px solid #FFFF00 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=deaddude007"],
 a[href^="/ASP/admin/userportal.asp?usr=deaddude007"]{
 color:#2b5663 !important;
border:1px solid #696969 !important;
font-weight:bold !important;
font-style:italic !important;
text-decoration:line-through !important;
 }
 a[href^="http://club.ign.com/b/about?username=Mirkwood11"],
 a[href^="/ASP/admin/userportal.asp?usr=Mirkwood11"]{
 color:#f4a253 !important;
background-color:#0e53dc !important;
border:1px solid #ffffff !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Uncle.Jesse"],
 a[href^="/ASP/admin/userportal.asp?usr=Uncle.Jesse"]{
 color:#ffffff !important;
background-color:#AE772F !important;
border:1px solid #000000 !important;
font-weight:bold !important;
font-style:italic !important;
text-decoration:overline !important;
 }
 a[href^="http://club.ign.com/b/about?username=Duck.Claw"],
 a[href^="/ASP/admin/userportal.asp?usr=Duck.Claw"]{
 color:#FFD800 !important;
background-color:#D727E2 !important;
border:1px solid #ffffff !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=wwefnfurlife"],
 a[href^="/ASP/admin/userportal.asp?usr=wwefnfurlife"]{
 color:#aa0000 !important;
border:1px solid #ff0000 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Neo.Anakin"],
 a[href^="/ASP/admin/userportal.asp?usr=Neo.Anakin"]{
 color:#ffffff !important;
background-color:#3000FF !important;
border:1px solid #000000 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:overline !important;
 }
 a[href^="http://club.ign.com/b/about?username=ChronoTrigger99"],
 a[href^="/ASP/admin/userportal.asp?usr=ChronoTrigger99"]{
 color:#eaff00 !important;
background-color:#000000 !important;
border:1px solid #a210ff !important;
font-weight:bold !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=AmberKacee"],
 a[href^="/ASP/admin/userportal.asp?usr=AmberKacee"]{
 color:#fff3d0 !important;
background-color:#d95514 !important;
border:1px solid #fff3d0 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=EaglesVols91"],
 a[href^="/ASP/admin/userportal.asp?usr=EaglesVols91"]{
 color:#ffffff !important;
background-color:#020202 !important;
border:1px solid #000000 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=leinappropriate"],
 a[href^="/ASP/admin/userportal.asp?usr=leinappropriate"]{
 color:#ff0000 !important;
background-color:#ffff33 !important;
border:1px solid #009966 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:underline !important;
 }
 a[href^="http://club.ign.com/b/about?username=shiv122"],
 a[href^="/ASP/admin/userportal.asp?usr=shiv122"]{
 color:#ff0000 !important;
background-color:#0000ff !important;
border:1px solid #00ffff !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:underline !important;
 }
 a[href^="http://club.ign.com/b/about?username=iOwn3G"],
 a[href^="/ASP/admin/userportal.asp?usr=iOwn3G"]{
 color:#dd0000 !important;
background-color:#0066cc !important;
border:1px solid #000000 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=RollTide1212"],
 a[href^="/ASP/admin/userportal.asp?usr=RollTide1212"]{
 color:#ffffff !important;
background-color:#a50e1d !important;
border:1px solid #ffffff !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Key_Error"],
 a[href^="/ASP/admin/userportal.asp?usr=Key_Error"]{
 color:#660000 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=HighPrice"],
 a[href^="/ASP/admin/userportal.asp?usr=HighPrice"]{
 color:#33CCFF !important;
background-color:#000000 !important;
border:1px solid #CC6600 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Richo92"],
 a[href^="/ASP/admin/userportal.asp?usr=Richo92"]{
 color:#2a6ac7 !important;
background-color:#000000 !important;
border:1px solid #000000 !important;
font-weight:normal !important;
font-style:normal !important;
text-decoration:overline !important;
 }
 a[href^="http://club.ign.com/b/about?username=Richo92"] > b,
 a[href^="/ASP/admin/userportal.asp?usr=Richo92"] > b {
 font-weight:inherit !important;
 }
 a[href^="http://club.ign.com/b/about?username=Kirby-Star"],
 a[href^="/ASP/admin/userportal.asp?usr=Kirby-Star"]{
 color:#FF00FF !important;
background-color:#FFFF00 !important;
border:1px solid #FFFFFF !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:line-through !important;
 }
 a[href^="http://club.ign.com/b/about?username=lizalfos"],
 a[href^="/ASP/admin/userportal.asp?usr=lizalfos"]{
 color:#E3170D !important;
background-color:#000000 !important;
border:1px solid #FFFFFF !important;
font-weight:bold !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=xXxScottNessxXx"],
 a[href^="/ASP/admin/userportal.asp?usr=xXxScottNessxXx"]{
 color:#8DEEEE !important;
background-color:#FFFFFF !important;
border:1px solid #8DEEEE !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:underline !important;
 }
 a[href^="http://club.ign.com/b/about?username=tripleh_game1"],
 a[href^="/ASP/admin/userportal.asp?usr=tripleh_game1"]{
 color:#3835a4 !important;
border:1px solid #ffffff !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:line-through !important;
 }
 a[href^="http://club.ign.com/b/about?username=bennusmagnus"],
 a[href^="/ASP/admin/userportal.asp?usr=bennusmagnus"]{
 color:#ffff00 !important;
background-color:#191970 !important;
border:1px solid #ffff00 !important;
font-weight:bold !important;
font-style:italic !important;
text-decoration:underline !important;
 }
 a[href^="http://club.ign.com/b/about?username=Killed_Assasin"],
 a[href^="/ASP/admin/userportal.asp?usr=Killed_Assasin"]{
 color:#ff0000 !important;
background-color:#000000 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Zenmatic"],
 a[href^="/ASP/admin/userportal.asp?usr=Zenmatic"]{
 color:#6B8E23 !important;
background-color:#D3D3D3 !important;
border:1px solid #BDB76B !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=AudioTechnica"],
 a[href^="/ASP/admin/userportal.asp?usr=AudioTechnica"]{
 color:#660055 !important;
border:1px solid #660055 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=w1seguy20"],
 a[href^="/ASP/admin/userportal.asp?usr=w1seguy20"]{
 color:#8b4513 !important;
background-color:#FFFAF0 !important;
border:1px solid #000000 !important;
font-weight:bold !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=watsahappawitchu"],
 a[href^="/ASP/admin/userportal.asp?usr=watsahappawitchu"]{
 color:#ef8d01 !important;
background-color:#3a6075 !important;
border:1px solid #ef8d01 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Corngluten"],
 a[href^="/ASP/admin/userportal.asp?usr=Corngluten"]{
 color:#33ffff !important;
background-color:#3333ff !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:underline !important;
 }
 a[href^="http://club.ign.com/b/about?username=Koole"],
 a[href^="/ASP/admin/userportal.asp?usr=Koole"]{
 color:#789DCA !important;
background-color:#ffffff !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=bbd23"],
 a[href^="/ASP/admin/userportal.asp?usr=bbd23"]{
 color:#910373 !important;
background-color:#f8ffff !important;
border:1px solid #fec0d9 !important;
font-weight:bold !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=gamerX1011"],
 a[href^="/ASP/admin/userportal.asp?usr=gamerX1011"]{
 color:#f8f8f8 !important;
background-color:#6a758d !important;
border:1px solid #f8f8f8 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:overline !important;
 }
 a[href^="http://club.ign.com/b/about?username=sandman-858"],
 a[href^="/ASP/admin/userportal.asp?usr=sandman-858"]{
 color:#82ACFA !important;
background-color:#151B54 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:underline !important;
 }
 a[href^="http://club.ign.com/b/about?username=CakeMan42"],
 a[href^="/ASP/admin/userportal.asp?usr=CakeMan42"]{
 color:#000000 !important;
background-color:#FF9900 !important;
border:1px solid #FFCC00 !important;
font-weight:normal !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=CakeMan42"] > b,
 a[href^="/ASP/admin/userportal.asp?usr=CakeMan42"] > b {
 font-weight:inherit !important;
 }
 a[href^="http://club.ign.com/b/about?username=BlakBanit"],
 a[href^="/ASP/admin/userportal.asp?usr=BlakBanit"]{
 color:#C0C0C0 !important;
background-color:#030a0d !important;
border:1px solid #b69b8b !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=SteelersFreak1"],
 a[href^="/ASP/admin/userportal.asp?usr=SteelersFreak1"]{
 color:#ecdf1b !important;
background-color:#000000 !important;
border:1px solid #ffffff !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:underline !important;
 }
 a[href^="http://club.ign.com/b/about?username=InfiniteZr0"],
 a[href^="/ASP/admin/userportal.asp?usr=InfiniteZr0"]{
 color:#FF2400 !important;
background-color:#000000 !important;
border:1px solid #FF2400 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:underline !important;
 }
 a[href^="http://club.ign.com/b/about?username=.relliK"],
 a[href^="/ASP/admin/userportal.asp?usr=.relliK"]{
 color:#ffffff !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=wirezd"],
 a[href^="/ASP/admin/userportal.asp?usr=wirezd"]{
 color:#8E35EF !important;
background-color:#00FFFF !important;
border:1px solid #00FFFF !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:overline !important;
 }
 a[href^="http://club.ign.com/b/about?username=rawrrrrrr"],
 a[href^="/ASP/admin/userportal.asp?usr=rawrrrrrr"]{
 color:#ffffff !important;
background-color:#000000 !important;
border:1px solid #ffccff !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:line-through !important;
 }
 a[href^="http://club.ign.com/b/about?username=KillingWithASmile"],
 a[href^="/ASP/admin/userportal.asp?usr=KillingWithASmile"]{
 color:#FF0000 !important;
background-color:#FFFFFF !important;
border:1px solid #FF0000 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=josh9308"],
 a[href^="/ASP/admin/userportal.asp?usr=josh9308"]{
 color:#f76b29 !important;
background-color:#2942ce !important;
border:1px solid #ffffff !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=757"],
 a[href^="/ASP/admin/userportal.asp?usr=757"]{
 color:#fdff62 !important;
background-color:#ff8de8 !important;
border:1px solid #bfff64 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=PhiladelphiaFan05"],
 a[href^="/ASP/admin/userportal.asp?usr=PhiladelphiaFan05"]{
 color:#004016 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=evil_klonoa_10"],
 a[href^="/ASP/admin/userportal.asp?usr=evil_klonoa_10"]{
 color:#ffff00 !important;
border:1px solid #ff0000 !important;
font-weight:normal !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=evil_klonoa_10"] > b,
 a[href^="/ASP/admin/userportal.asp?usr=evil_klonoa_10"] > b {
 font-weight:inherit !important;
 }
 a[href^="http://club.ign.com/b/about?username=nickawesome710"],
 a[href^="/ASP/admin/userportal.asp?usr=nickawesome710"]{
 color:#000000 !important;
background-color:#FF2052 !important;
border:1px solid #000000 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:overline !important;
 }
 a[href^="http://club.ign.com/b/about?username=BenRama"],
 a[href^="/ASP/admin/userportal.asp?usr=BenRama"]{
 color:#732228 !important;
background-color:#ffffff !important;
border:1px solid #732228 !important;
font-weight:bold !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=dr.jekyll_"],
 a[href^="/ASP/admin/userportal.asp?usr=dr.jekyll_"]{
 color:#C7A317 !important;
background-color:#000000 !important;
border:1px solid #153E7E !important;
font-weight:bold !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=bronjames1230"],
 a[href^="/ASP/admin/userportal.asp?usr=bronjames1230"]{
 color:#000000 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=dcxboxgc"],
 a[href^="/ASP/admin/userportal.asp?usr=dcxboxgc"]{
 color:#FF0000 !important;
background-color:#000000 !important;
border:1px solid #000000 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=SRA_Alt_real"],
 a[href^="/ASP/admin/userportal.asp?usr=SRA_Alt_real"]{
 color:#FFFF00 !important;
background-color:#04B404 !important;
border:1px solid #FFFF00 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=-Kheez-"],
 a[href^="/ASP/admin/userportal.asp?usr=-Kheez-"]{
 color:#0679BC !important;
background-color:#FFFDCF !important;
border:1px solid #1FE7D4 !important;
font-weight:normal !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=-Kheez-"] > b,
 a[href^="/ASP/admin/userportal.asp?usr=-Kheez-"] > b {
 font-weight:inherit !important;
 }
 a[href^="http://club.ign.com/b/about?username=th3hog"],
 a[href^="/ASP/admin/userportal.asp?usr=th3hog"]{
 color:#970000 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Bullonie"],
 a[href^="/ASP/admin/userportal.asp?usr=Bullonie"]{
 color:#996049 !important;
background-color:#EDAB95 !important;
border:1px solid #EDAB95 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Shadow_Moses_FTW"],
 a[href^="/ASP/admin/userportal.asp?usr=Shadow_Moses_FTW"]{
 color:#307D7E !important;
border:1px solid #000000 !important;
font-weight:bold !important;
font-style:italic !important;
text-decoration:line-through !important;
 }
 a[href^="http://club.ign.com/b/about?username=Sith_Anakin"],
 a[href^="/ASP/admin/userportal.asp?usr=Sith_Anakin"]{
 color:#000000 !important;
background-color:#8B0000 !important;
border:1px solid #000000 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:overline !important;
 }
 a[href^="http://club.ign.com/b/about?username=vegan.edge"],
 a[href^="/ASP/admin/userportal.asp?usr=vegan.edge"]{
 color:#000000 !important;
font-weight:bold !important;
font-style:italic !important;
text-decoration:line-through !important;
 }
 a[href^="http://club.ign.com/b/about?username=ChristoJean"],
 a[href^="/ASP/admin/userportal.asp?usr=ChristoJean"]{
 font-weight:normal !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=ChristoJean"] > b,
 a[href^="/ASP/admin/userportal.asp?usr=ChristoJean"] > b {
 font-weight:inherit !important;
 }
 a[href^="http://club.ign.com/b/about?username=ShaDow-MoZez-FTW"],
 a[href^="/ASP/admin/userportal.asp?usr=ShaDow-MoZez-FTW"]{
 color:#307D7E !important;
border:1px solid #000000 !important;
font-weight:bold !important;
font-style:italic !important;
text-decoration:line-through !important;
 }
 a[href^="http://club.ign.com/b/about?username=hot_socks"],
 a[href^="/ASP/admin/userportal.asp?usr=hot_socks"]{
 color:#C11B17 !important;
background-color:#15317E !important;
border:1px solid #C11B17 !important;
font-weight:bold !important;
font-style:italic !important;
text-decoration:line-through !important;
 }
 a[href^="http://club.ign.com/b/about?username=Em_Leingod"],
 a[href^="/ASP/admin/userportal.asp?usr=Em_Leingod"]{
 color:#3368c5 !important;
background-color:#5f95f6 !important;
border:1px solid #3368c5 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:underline !important;
 }
 a[href^="http://club.ign.com/b/about?username=Dan_Ace"],
 a[href^="/ASP/admin/userportal.asp?usr=Dan_Ace"]{
 color:#ffffff !important;
font-weight:bold !important;
font-style:italic !important;
text-decoration:line-through !important;
 }
 a[href^="http://club.ign.com/b/about?username=Registered.USER."],
 a[href^="/ASP/admin/userportal.asp?usr=Registered.USER."]{
 color:#ffffff !important;
background-color:#ff0000 !important;
border:1px solid #0000ff !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:underline !important;
 }
 a[href^="http://club.ign.com/b/about?username=ChiBKey"],
 a[href^="/ASP/admin/userportal.asp?usr=ChiBKey"]{
 color:#F6F2B0 !important;
background-color:#f7952d !important;
border:1px solid #C97022 !important;
font-weight:normal !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=ChiBKey"] > b,
 a[href^="/ASP/admin/userportal.asp?usr=ChiBKey"] > b {
 font-weight:inherit !important;
 }
 a[href^="http://club.ign.com/b/about?username=vertigom2"],
 a[href^="/ASP/admin/userportal.asp?usr=vertigom2"]{
 color:#2b78ff !important;
background-color:#ffffff !important;
border:1px solid #067bf0 !important;
font-weight:normal !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=vertigom2"] > b,
 a[href^="/ASP/admin/userportal.asp?usr=vertigom2"] > b {
 font-weight:inherit !important;
 }
 a[href^="http://club.ign.com/b/about?username=jjgp1112"],
 a[href^="/ASP/admin/userportal.asp?usr=jjgp1112"]{
 color:#3b1e03 !important;
background-color:#2c590b !important;
border:1px solid #000000 !important;
font-weight:bold !important;
font-style:italic !important;
text-decoration:line-through !important;
 }
 a[href^="http://club.ign.com/b/about?username=cord_wd"],
 a[href^="/ASP/admin/userportal.asp?usr=cord_wd"]{
 color:#FFFFFF !important;
background-color:#000000 !important;
border:1px solid #FFFFFF !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=falconsfury101"],
 a[href^="/ASP/admin/userportal.asp?usr=falconsfury101"]{
 color:#000000 !important;
background-color:#C0C0C0 !important;
border:1px solid #FFFF00 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=skierdude413"],
 a[href^="/ASP/admin/userportal.asp?usr=skierdude413"]{
 color:#FFFFFF !important;
background-color:#108e56 !important;
border:1px solid #000000 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Hip-Hop-Potamus"],
 a[href^="/ASP/admin/userportal.asp?usr=Hip-Hop-Potamus"]{
 color:#FFFFFF !important;
background-color:#4F008B !important;
border:1px solid #FFFFFF !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Sertith"],
 a[href^="/ASP/admin/userportal.asp?usr=Sertith"]{
 color:#e4bf62 !important;
background-color:#97917e !important;
border:1px solid #fbec82 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=CaptainCommonSense"],
 a[href^="/ASP/admin/userportal.asp?usr=CaptainCommonSense"]{
 color:#000000 !important;
background-color:#488AC7 !important;
border:1px solid #2554C7 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Pistol."],
 a[href^="/ASP/admin/userportal.asp?usr=Pistol."]{
 color:#34932f !important;
background-color:#ffffff !important;
border:1px solid #34932f !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=noudesu"],
 a[href^="/ASP/admin/userportal.asp?usr=noudesu"]{
 color:#ffffff !important;
background-color:#ef1419 !important;
border:1px solid #ef1419 !important;
font-weight:normal !important;
font-style:normal !important;
text-decoration:overline !important;
 }
 a[href^="http://club.ign.com/b/about?username=noudesu"] > b,
 a[href^="/ASP/admin/userportal.asp?usr=noudesu"] > b {
 font-weight:inherit !important;
 }
 a[href^="http://club.ign.com/b/about?username=bankplanet"],
 a[href^="/ASP/admin/userportal.asp?usr=bankplanet"]{
 color:#000000 !important;
background-color:#32CD32 !important;
border:1px solid #000000 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Out_Kast3000"],
 a[href^="/ASP/admin/userportal.asp?usr=Out_Kast3000"]{
 color:#FFFFFF !important;
background-color:#9FCBF9 !important;
border:1px solid #FFFFFF !important;
font-weight:normal !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Out_Kast3000"] > b,
 a[href^="/ASP/admin/userportal.asp?usr=Out_Kast3000"] > b {
 font-weight:inherit !important;
 }
 a[href^="http://club.ign.com/b/about?username=woody938"],
 a[href^="/ASP/admin/userportal.asp?usr=woody938"]{
 color:#02dd61 !important;
background-color:#006536 !important;
border:1px solid #00c83d !important;
font-weight:bold !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=thefuzz7219"],
 a[href^="/ASP/admin/userportal.asp?usr=thefuzz7219"]{
 font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=kcjr93"],
 a[href^="/ASP/admin/userportal.asp?usr=kcjr93"]{
 color:#FFD700 !important;
background-color:#000000 !important;
border:1px solid #FFD700 !important;
font-weight:bold !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=puffteam"],
 a[href^="/ASP/admin/userportal.asp?usr=puffteam"]{
 color:#252823 !important;
border:1px solid #000000 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=MelanieTreat"],
 a[href^="/ASP/admin/userportal.asp?usr=MelanieTreat"]{
 color:#ffffff !important;
background-color:#000000 !important;
border:1px solid #f5acff !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=RB-Phenomenal"],
 a[href^="/ASP/admin/userportal.asp?usr=RB-Phenomenal"]{
 color:#B404AE !important;
background-color:#000000 !important;
border:1px solid #B404AE !important;
font-weight:bold !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=InaneAsylum"],
 a[href^="/ASP/admin/userportal.asp?usr=InaneAsylum"]{
 color:#ff0000 !important;
background-color:#000000 !important;
border:1px solid #dddddd !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:line-through !important;
 }
 a[href^="http://club.ign.com/b/about?username=The-Dudebuster"],
 a[href^="/ASP/admin/userportal.asp?usr=The-Dudebuster"]{
 color:#000000 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:underline !important;
 }
 a[href^="http://club.ign.com/b/about?username=xX-EJ_MUFC-Xx"],
 a[href^="/ASP/admin/userportal.asp?usr=xX-EJ_MUFC-Xx"]{
 color:#ffffff !important;
background-color:#ff6103 !important;
border:1px solid #cd0000 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:overline !important;
 }
 a[href^="http://club.ign.com/b/about?username=NY_sucks"],
 a[href^="/ASP/admin/userportal.asp?usr=NY_sucks"]{
 color:#0066cc !important;
background-color:#ff0000 !important;
border:1px solid #000066 !important;
font-weight:bold !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Cranky.Pants"],
 a[href^="/ASP/admin/userportal.asp?usr=Cranky.Pants"]{
 color:#ff00ff !important;
background-color:#000000 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=NVW-LVN"],
 a[href^="/ASP/admin/userportal.asp?usr=NVW-LVN"]{
 color:#000000 !important;
background-color:#ffffff !important;
border:1px solid #FFE476 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:overline !important;
 }
 a[href^="http://club.ign.com/b/about?username=Sandy_Vagabond"],
 a[href^="/ASP/admin/userportal.asp?usr=Sandy_Vagabond"]{
 color:#000000 !important;
background-color:#36ff00 !important;
border:1px solid #000000 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:overline !important;
 }
 a[href^="http://club.ign.com/b/about?username=Kanarico"],
 a[href^="/ASP/admin/userportal.asp?usr=Kanarico"]{
 color:#EE4000 !important;
background-color:#FF7F24 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=rocksolid142"],
 a[href^="/ASP/admin/userportal.asp?usr=rocksolid142"]{
 color:#008D07 !important;
background-color:#534343 !important;
font-weight:normal !important;
font-style:normal !important;
text-decoration:underline !important;
 }
 a[href^="http://club.ign.com/b/about?username=rocksolid142"] > b,
 a[href^="/ASP/admin/userportal.asp?usr=rocksolid142"] > b {
 font-weight:inherit !important;
 }
 a[href^="http://club.ign.com/b/about?username=mastertopher"],
 a[href^="/ASP/admin/userportal.asp?usr=mastertopher"]{
 color:#000000 !important;
background-color:#FFFFFF !important;
border:1px solid #000000 !important;
font-weight:bold !important;
font-style:italic !important;
text-decoration:line-through !important;
 }
 a[href^="http://club.ign.com/b/about?username=unknown"],
 a[href^="/ASP/admin/userportal.asp?usr=unknown"]{
 font-weight:normal !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=unknown"] > b,
 a[href^="/ASP/admin/userportal.asp?usr=unknown"] > b {
 font-weight:inherit !important;
 }
 a[href^="http://club.ign.com/b/about?username=Lord_Conflict"],
 a[href^="/ASP/admin/userportal.asp?usr=Lord_Conflict"]{
 color:#942683 !important;
border:1px solid #942683 !important;
font-weight:bold !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=UnseenMarine"],
 a[href^="/ASP/admin/userportal.asp?usr=UnseenMarine"]{
 color:#7A15C9 !important;
background-color:#000000 !important;
border:1px solid #7A15C9 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:underline !important;
 }
 a[href^="http://club.ign.com/b/about?username=Astus_01"],
 a[href^="/ASP/admin/userportal.asp?usr=Astus_01"]{
 color:#000000 !important;
border:1px solid #000000 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=TheoreticallyCorrect"],
 a[href^="/ASP/admin/userportal.asp?usr=TheoreticallyCorrect"]{
 color:#09ed13 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=SeattleSeahawks"],
 a[href^="/ASP/admin/userportal.asp?usr=SeattleSeahawks"]{
 color:#E0FFFF !important;
background-color:#191970 !important;
border:1px solid #E0FFFF !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:overline !important;
 }
 a[href^="http://club.ign.com/b/about?username=legend_killer3000"],
 a[href^="/ASP/admin/userportal.asp?usr=legend_killer3000"]{
 color:#beddf3 !important;
background-color:#0012ff !important;
border:1px solid #ffffff !important;
font-weight:bold !important;
font-style:italic !important;
text-decoration:line-through !important;
 }
 a[href^="http://club.ign.com/b/about?username=DallasJR"],
 a[href^="/ASP/admin/userportal.asp?usr=DallasJR"]{
 color:#FFFFFF !important;
background-color:#000000 !important;
border:1px solid #FFFFFF !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=ShaDow_MoZes_FTW"],
 a[href^="/ASP/admin/userportal.asp?usr=ShaDow_MoZes_FTW"]{
 color:#F7F7F7 !important;
background-color:#000000 !important;
border:1px solid #DE213A !important;
font-weight:bold !important;
font-style:italic !important;
text-decoration:line-through !important;
 }
 a[href^="http://club.ign.com/b/about?username=OmegatheRobot"],
 a[href^="/ASP/admin/userportal.asp?usr=OmegatheRobot"]{
 color:#742C00 !important;
background-color:#FFCDAC !important;
border:1px solid #000000 !important;
font-weight:bold !important;
font-style:normal !important;
text-decoration:none !important;
 }
}
