@-moz-document domain(boards.ign.com),
 domain(vnboards.ign.com),
 domain(betaboards.ign.com),
 domain(forums.ign.com){
a[href^="http://club.ign.com/b/about?username="]:not([class="BoardRowBLink"]):not(.AuthorLink),
a[href^="/ASP/admin/userportal.asp?usr="]:not(.AuthorLink){
 }
 a[href*="SwitchBlade25755"] ~ a.BoardUserIconLink > img.BoardUserIcon {
height: 0 ! important;
 padding-bottom: 80px;
 background-image: url('http://media.ign.com/boards/images/icons2/heyfool2.gif');
}
 a[href^="http://club.ign.com/b/about?username=BigRandal"],
 a[href^="/ASP/admin/userportal.asp?usr=BigRandal"]{
 color:# !important;
background-color:# !important;
border:1px solid # !important;
font-weight: !important;
font-style:italic !important;
text-decoration:overline !important;
 }
 a[href^="http://club.ign.com/b/about?username=wwefnfurlife"],
 a[href^="/ASP/admin/userportal.asp?usr=wwefnfurlife"]{
 color:#FF0000 !important;
background-color:# !important;
border:1px solid #00AA55 !important;
font-weight: !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Stafford2Moreno"],
 a[href^="/ASP/admin/userportal.asp?usr=Stafford2Moreno"]{
 color:#ffffff !important;
background-color:#c50000 !important;
border:1px solid #000000 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=lizalfos"],
 a[href^="/ASP/admin/userportal.asp?usr=lizalfos"]{
 color:#E3170D !important;
background-color:#000000 !important;
border:1px solid #FFFFFF !important;
font-weight: !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=DaaaaaPackers"],
 a[href^="/ASP/admin/userportal.asp?usr=DaaaaaPackers"]{
 color:#FFFFFF !important;
background-color:#104f27 !important;
border:1px solid #ebbe2a !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=joedaddy18"],
 a[href^="/ASP/admin/userportal.asp?usr=joedaddy18"]{
 color:#800080 !important;
background-color:#FFff00 !important;
border:1px solid #ffffff !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Zenmatic"],
 a[href^="/ASP/admin/userportal.asp?usr=Zenmatic"]{
 color:#7FFF00 !important;
background-color:#483D8B !important;
border:1px solid #FF00FF !important;
font-weight: !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=war_eagle23"],
 a[href^="/ASP/admin/userportal.asp?usr=war_eagle23"]{
 color:#FFFFFF !important;
background-color:#002952 !important;
border:1px solid #e77331 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=OnlyUseMepen15"],
 a[href^="/ASP/admin/userportal.asp?usr=OnlyUseMepen15"]{
 color:#F70000 !important;
background-color:#FFFFFF !important;
border:1px solid #F70000 !important;
font-weight: !important;
font-style:italic !important;
text-decoration:underline !important;
 }
 a[href^="http://club.ign.com/b/about?username=Arian88"],
 a[href^="/ASP/admin/userportal.asp?usr=Arian88"]{
 color:#3d5a7a !important;
background-color:# !important;
border:1px solid #9d521b !important;
font-weight: !important;
font-style:normal !important;
text-decoration:line-through !important;
 }
 a[href^="http://club.ign.com/b/about?username=.o4"],
 a[href^="/ASP/admin/userportal.asp?usr=.o4"]{
 color:#000000 !important;
background-color:#ffffff !important;
border:1px solid #911212 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:overline !important;
 }
 a[href^="http://club.ign.com/b/about?username=Kanarico"],
 a[href^="/ASP/admin/userportal.asp?usr=Kanarico"]{
 color:#EE4000 !important;
background-color:#FF7F24 !important;
border:1px solid # !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=rex1080"],
 a[href^="/ASP/admin/userportal.asp?usr=rex1080"]{
 color:#000000 !important;
background-color:#FFFF00 !important;
border:1px solid #000000 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=TheDogSaidWoof"],
 a[href^="/ASP/admin/userportal.asp?usr=TheDogSaidWoof"]{
 color:#FF00FF !important;
background-color:#ffff00 !important;
border:1px solid #FFFFFF !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=The-Dudebuster"],
 a[href^="/ASP/admin/userportal.asp?usr=The-Dudebuster"]{
 color:#000000 !important;
background-color:# !important;
border:1px solid # !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=dxfan555"],
 a[href^="/ASP/admin/userportal.asp?usr=dxfan555"]{
 color:#008000 !important;
background-color:#000000 !important;
border:1px solid #FFFFFF !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=.relliK"],
 a[href^="/ASP/admin/userportal.asp?usr=.relliK"]{
 color:#000000 !important;
background-color:# !important;
border:1px solid # !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=makoncrayley"],
 a[href^="/ASP/admin/userportal.asp?usr=makoncrayley"]{
 color:#000000 !important;
background-color:#DF0101 !important;
border:1px solid #0000FF !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Gnomechaun_Killa"],
 a[href^="/ASP/admin/userportal.asp?usr=Gnomechaun_Killa"]{
 color:#ffffff !important;
background-color:#005837 !important;
border:1px solid #ffffff !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=HextupleyooDOT"],
 a[href^="/ASP/admin/userportal.asp?usr=HextupleyooDOT"]{
 color:#0047ab !important;
background-color:#ffffff !important;
border:1px solid #0047ab !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=dr.jekyll_"],
 a[href^="/ASP/admin/userportal.asp?usr=dr.jekyll_"]{
 color:#C7A317 !important;
background-color:#000000 !important;
border:1px solid #153E7E !important;
font-weight: !important;
font-style:italic !important;
text-decoration:underline !important;
 }
 a[href^="http://club.ign.com/b/about?username=Katie_King"],
 a[href^="/ASP/admin/userportal.asp?usr=Katie_King"]{
 color:#00BFFF !important;
background-color:# !important;
border:1px solid # !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=-CUTigers"],
 a[href^="/ASP/admin/userportal.asp?usr=-CUTigers"]{
 color:#560091 !important;
background-color:#FFFFFF !important;
border:1px solid #FF540A !important;
font-weight: !important;
font-style:normal !important;
text-decoration:line-through !important;
 }
 a[href^="http://club.ign.com/b/about?username=TheDanSaidUhn"],
 a[href^="/ASP/admin/userportal.asp?usr=TheDanSaidUhn"]{
 color:#e0c5a7 !important;
background-color:#a88866 !important;
border:1px solid #ffffff !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=NexusLeader-Dan_Ace"],
 a[href^="/ASP/admin/userportal.asp?usr=NexusLeader-Dan_Ace"]{
 color:#000000 !important;
background-color:#fff600 !important;
border:1px solid #000000 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=INZAINE"],
 a[href^="/ASP/admin/userportal.asp?usr=INZAINE"]{
 color:#8A2BE2 !important;
background-color:# !important;
border:1px solid # !important;
font-weight: !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Alejandro_El"],
 a[href^="/ASP/admin/userportal.asp?usr=Alejandro_El"]{
 color:#8A2BE2 !important;
background-color:# !important;
border:1px solid # !important;
font-weight: !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=mgsnakeRPJ22"],
 a[href^="/ASP/admin/userportal.asp?usr=mgsnakeRPJ22"]{
 color:#d0beb4 !important;
background-color:#50605c !important;
border:1px solid #ffffff !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=rnk19"],
 a[href^="/ASP/admin/userportal.asp?usr=rnk19"]{
 color:#D6F8FF !important;
background-color:#060019 !important;
border:1px solid #2B0000 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:underline !important;
 }
 a[href^="http://club.ign.com/b/about?username=lilg1521"],
 a[href^="/ASP/admin/userportal.asp?usr=lilg1521"]{
 color:#ffffff !important;
background-color:#C11B17 !important;
border:1px solid #AAD0FF !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=hot_socks"],
 a[href^="/ASP/admin/userportal.asp?usr=hot_socks"]{
 color:#F2F2F2 !important;
background-color:#000000 !important;
border:1px solid #F00000 !important;
font-weight: !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=woody938"],
 a[href^="/ASP/admin/userportal.asp?usr=woody938"]{
 color:#02dd61 !important;
background-color:#006536 !important;
border:1px solid #00c83d !important;
font-weight: !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Ultimate_Bizzaro"],
 a[href^="/ASP/admin/userportal.asp?usr=Ultimate_Bizzaro"]{
 color:#ff0000 !important;
background-color:#000000 !important;
border:1px solid #ff0000 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=raza1495"],
 a[href^="/ASP/admin/userportal.asp?usr=raza1495"]{
 color:#ffffff !important;
background-color:#00bfff !important;
border:1px solid # !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=-Mitsurules-"],
 a[href^="/ASP/admin/userportal.asp?usr=-Mitsurules-"]{
 color:#0000FF !important;
background-color:#FF8C00 !important;
border:1px solid #DCDCDC !important;
font-weight: !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Crazy888"],
 a[href^="/ASP/admin/userportal.asp?usr=Crazy888"]{
 color:#F8F8FF !important;
background-color:#F8F8FF !important;
border:1px solid #F8F8FF !important;
font-weight: !important;
font-style:italic !important;
text-decoration:overline !important;
 }
 a[href^="http://club.ign.com/b/about?username=SalmonFerines"],
 a[href^="/ASP/admin/userportal.asp?usr=SalmonFerines"]{
 color:#fa8072 !important;
background-color:#fdbab4 !important;
border:1px solid #fa8072 !important;
font-weight: !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=xXxScottNessxXx"],
 a[href^="/ASP/admin/userportal.asp?usr=xXxScottNessxXx"]{
 color:#8B1A1A !important;
background-color:#FF69B4 !important;
border:1px solid #FF4500 !important;
font-weight: !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=outbrake"],
 a[href^="/ASP/admin/userportal.asp?usr=outbrake"]{
 color:#000001 !important;
background-color:#088A08 !important;
border:1px solid #000000 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=SheLookedEighteen"],
 a[href^="/ASP/admin/userportal.asp?usr=SheLookedEighteen"]{
 color:#FF0000 !important;
background-color:#C0C0C0 !important;
border:1px solid #FFFFFF !important;
font-weight: !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=arbiter91"],
 a[href^="/ASP/admin/userportal.asp?usr=arbiter91"]{
 color:#FEFA0F !important;
background-color:#FF8F00 !important;
border:1px solid #231100 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=evil_klonoa_10"],
 a[href^="/ASP/admin/userportal.asp?usr=evil_klonoa_10"]{
 color:#0000ff !important;
background-color:# !important;
border:1px solid #ffffff !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=shiv122"],
 a[href^="/ASP/admin/userportal.asp?usr=shiv122"]{
 color:#ff0000 !important;
background-color:#FFD700 !important;
border:1px solid #000000 !important;
font-weight: !important;
font-style:italic !important;
text-decoration:overline !important;
 }
 a[href^="http://club.ign.com/b/about?username=gamerX1011"],
 a[href^="/ASP/admin/userportal.asp?usr=gamerX1011"]{
 color:#f8f8f8 !important;
background-color:#6a758d !important;
border:1px solid #f8f8f8 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:overline !important;
 }
 a[href^="http://club.ign.com/b/about?username=xX-EJ_MUFC-Xx"],
 a[href^="/ASP/admin/userportal.asp?usr=xX-EJ_MUFC-Xx"]{
 color:#ffff00 !important;
background-color:#000000 !important;
border:1px solid #000000 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=ChaosLord12"],
 a[href^="/ASP/admin/userportal.asp?usr=ChaosLord12"]{
 color:#0000FF !important;
background-color:#000000 !important;
border:1px solid #0000FF !important;
font-weight: !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=noudesu"],
 a[href^="/ASP/admin/userportal.asp?usr=noudesu"]{
 color:#ffffff !important;
background-color:#ef1419 !important;
border:1px solid #ef1419 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:overline !important;
 }
 a[href^="http://club.ign.com/b/about?username=intrepid.traveler"],
 a[href^="/ASP/admin/userportal.asp?usr=intrepid.traveler"]{
 color:# !important;
background-color:# !important;
border:1px solid # !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=skierdude413"],
 a[href^="/ASP/admin/userportal.asp?usr=skierdude413"]{
 color:#e8e49f !important;
background-color:#b1ac73 !important;
border:1px solid #000000 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Sir_Chester69"],
 a[href^="/ASP/admin/userportal.asp?usr=Sir_Chester69"]{
 color:#FFFFFF !important;
background-color:#10DC09 !important;
border:1px solid #F10000 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:line-through !important;
 }
 a[href^="http://club.ign.com/b/about?username=ChronoTrigger99"],
 a[href^="/ASP/admin/userportal.asp?usr=ChronoTrigger99"]{
 color:#000000 !important;
background-color:# !important;
border:1px solid # !important;
font-weight: !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Stunner_Fan_No.1"],
 a[href^="/ASP/admin/userportal.asp?usr=Stunner_Fan_No.1"]{
 color:#0B2656 !important;
background-color:#FFFFFF !important;
border:1px solid #0B2656 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=SeattleSeahawks"],
 a[href^="/ASP/admin/userportal.asp?usr=SeattleSeahawks"]{
 color:#E0FFFF !important;
background-color:#191970 !important;
border:1px solid #C0C0C0 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:overline !important;
 }
 a[href^="http://club.ign.com/b/about?username=Winter.Mist"],
 a[href^="/ASP/admin/userportal.asp?usr=Winter.Mist"]{
 color:#00BFFF !important;
background-color:# !important;
border:1px solid # !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Alibabaa"],
 a[href^="/ASP/admin/userportal.asp?usr=Alibabaa"]{
 color:#000000 !important;
background-color:#FFFF00 !important;
border:1px solid #000000 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=-Kheez-"],
 a[href^="/ASP/admin/userportal.asp?usr=-Kheez-"]{
 color:#0679BC !important;
background-color:#FFFDCF !important;
border:1px solid #1FE7D4 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=FLOWCity"],
 a[href^="/ASP/admin/userportal.asp?usr=FLOWCity"]{
 color:#FF0000 !important;
background-color:#000000 !important;
border:1px solid #000000 !important;
font-weight: !important;
font-style:italic !important;
text-decoration:underline !important;
 }
 a[href^="http://club.ign.com/b/about?username=BlakBanit"],
 a[href^="/ASP/admin/userportal.asp?usr=BlakBanit"]{
 color:#ffffff !important;
background-color:#0000FF !important;
border:1px solid #ffffff !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=CaptainCommonSense"],
 a[href^="/ASP/admin/userportal.asp?usr=CaptainCommonSense"]{
 color:#000000 !important;
background-color:#488AC7 !important;
border:1px solid #2554C7 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Christhepirate"],
 a[href^="/ASP/admin/userportal.asp?usr=Christhepirate"]{
 color:#000000 !important;
background-color:# !important;
border:1px solid #000000 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=watsahappawitchu"],
 a[href^="/ASP/admin/userportal.asp?usr=watsahappawitchu"]{
 color:#ef8d01 !important;
background-color:#3a6075 !important;
border:1px solid #ef8d01 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=ScrewWithTheLightsOn"],
 a[href^="/ASP/admin/userportal.asp?usr=ScrewWithTheLightsOn"]{
 color:#0679BC !important;
background-color:#FFFDCF !important;
border:1px solid #1FE7D4 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=hitmonshark"],
 a[href^="/ASP/admin/userportal.asp?usr=hitmonshark"]{
 color:#FF0000 !important;
background-color:#ffffff !important;
border:1px solid #ff0000 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=LesbianEmmaWatson"],
 a[href^="/ASP/admin/userportal.asp?usr=LesbianEmmaWatson"]{
 color:#0679BC !important;
background-color:#FFFDCF !important;
border:1px solid #1FE7D4 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=ArrogantBrilliance"],
 a[href^="/ASP/admin/userportal.asp?usr=ArrogantBrilliance"]{
 color:#F50007 !important;
background-color:#FFFDCF !important;
border:1px solid #F50007 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=TJ_Dragna"],
 a[href^="/ASP/admin/userportal.asp?usr=TJ_Dragna"]{
 color:#009900 !important;
background-color:# !important;
border:1px solid #00aaaa !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=phenom4life25"],
 a[href^="/ASP/admin/userportal.asp?usr=phenom4life25"]{
 color:#2E9AFE !important;
background-color:#000000 !important;
border:1px solid # !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Some_Random_Aussie"],
 a[href^="/ASP/admin/userportal.asp?usr=Some_Random_Aussie"]{
 color:#FFF000 !important;
background-color:#04B404 !important;
border:1px solid #FFF000 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Past-O-Rama"],
 a[href^="/ASP/admin/userportal.asp?usr=Past-O-Rama"]{
 color:#9f2020 !important;
background-color:# !important;
border:1px solid # !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Booster37"],
 a[href^="/ASP/admin/userportal.asp?usr=Booster37"]{
 color:#965236 !important;
background-color:#000000 !important;
border:1px solid #FFFFFF !important;
font-weight: !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Em_Leingod"],
 a[href^="/ASP/admin/userportal.asp?usr=Em_Leingod"]{
 color:#ffffff !important;
background-color:#eb3140 !important;
border:1px solid #ffffff !important;
font-weight: !important;
font-style:normal !important;
text-decoration:underline !important;
 }
 a[href^="http://club.ign.com/b/about?username=cord_wd"],
 a[href^="/ASP/admin/userportal.asp?usr=cord_wd"]{
 color:#FE2E2e !important;
background-color:#FFFFFF !important;
border:1px solid #FFFFFF !important;
font-weight: !important;
font-style:italic !important;
text-decoration:overline !important;
 }
 a[href^="http://club.ign.com/b/about?username=Ross726"],
 a[href^="/ASP/admin/userportal.asp?usr=Ross726"]{
 color:# !important;
background-color:# !important;
border:1px solid # !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=falconsfury101"],
 a[href^="/ASP/admin/userportal.asp?usr=falconsfury101"]{
 color:#000000 !important;
background-color:#FF0000 !important;
border:1px solid #FFFF00 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=NY_sucks"],
 a[href^="/ASP/admin/userportal.asp?usr=NY_sucks"]{
 color:#0066cc !important;
background-color:#ff0000 !important;
border:1px solid #000066 !important;
font-weight: !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=johan_solo-tk"],
 a[href^="/ASP/admin/userportal.asp?usr=johan_solo-tk"]{
 color:#000080 !important;
background-color:#FFFAFA !important;
border:1px solid #8E2323 !important;
font-weight: !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=leaffan_digger"],
 a[href^="/ASP/admin/userportal.asp?usr=leaffan_digger"]{
 color:#f7e516 !important;
background-color:#121849 !important;
border:1px solid #121849 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=RB-Phenomenal"],
 a[href^="/ASP/admin/userportal.asp?usr=RB-Phenomenal"]{
 color:#000000 !important;
background-color:#FFFFFF !important;
border:1px solid #000000 !important;
font-weight: !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Sephiroth166"],
 a[href^="/ASP/admin/userportal.asp?usr=Sephiroth166"]{
 color:#FF3300 !important;
background-color:#0000FF !important;
border:1px solid # !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=kcjr93"],
 a[href^="/ASP/admin/userportal.asp?usr=kcjr93"]{
 color:#ffffff !important;
background-color:#1E90FF !important;
border:1px solid #ffffff !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=jjgp1112"],
 a[href^="/ASP/admin/userportal.asp?usr=jjgp1112"]{
 color:#3b1e03 !important;
background-color:#2c590b !important;
border:1px solid #000000 !important;
font-weight: !important;
font-style:italic !important;
text-decoration:line-through !important;
 }
 a[href^="http://club.ign.com/b/about?username=-Black.Angel-"],
 a[href^="/ASP/admin/userportal.asp?usr=-Black.Angel-"]{
 color:# !important;
background-color:# !important;
border:1px solid # !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=LinkReborn"],
 a[href^="/ASP/admin/userportal.asp?usr=LinkReborn"]{
 color:#1CFF04 !important;
background-color:#150000 !important;
border:1px solid # !important;
font-weight: !important;
font-style:normal !important;
text-decoration:overline !important;
 }
 a[href^="http://club.ign.com/b/about?username=Epigram"],
 a[href^="/ASP/admin/userportal.asp?usr=Epigram"]{
 color:#111111 !important;
background-color:# !important;
border:1px solid # !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Bullonie"],
 a[href^="/ASP/admin/userportal.asp?usr=Bullonie"]{
 color:#CC0000 !important;
background-color:#FFAE19 !important;
border:1px solid #CC0000 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=nutsck-ktchn-drftn"],
 a[href^="/ASP/admin/userportal.asp?usr=nutsck-ktchn-drftn"]{
 color:#4C4646 !important;
background-color:# !important;
border:1px solid # !important;
font-weight: !important;
font-style:italic !important;
text-decoration:line-through !important;
 }
 a[href^="http://club.ign.com/b/about?username=QuicksilverBlaze"],
 a[href^="/ASP/admin/userportal.asp?usr=QuicksilverBlaze"]{
 color:# !important;
background-color:# !important;
border:1px solid # !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Slaurith"],
 a[href^="/ASP/admin/userportal.asp?usr=Slaurith"]{
 color:#ac9195 !important;
background-color:#edad48 !important;
border:1px solid #ac9195 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=HighPrice"],
 a[href^="/ASP/admin/userportal.asp?usr=HighPrice"]{
 color:#33CCFF !important;
background-color:#000000 !important;
border:1px solid #CC6600 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=p00ndawg"],
 a[href^="/ASP/admin/userportal.asp?usr=p00ndawg"]{
 color:#FFFFFF !important;
background-color:#FF00FF !important;
border:1px solid #FF00FF !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=w1seguy20"],
 a[href^="/ASP/admin/userportal.asp?usr=w1seguy20"]{
 color:#dc143c !important;
background-color:#FFFAF0 !important;
border:1px solid #000000 !important;
font-weight: !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=OmegatheRobot"],
 a[href^="/ASP/admin/userportal.asp?usr=OmegatheRobot"]{
 color:#DFB020 !important;
background-color:#90080F !important;
border:1px solid #000000 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Triblaze"],
 a[href^="/ASP/admin/userportal.asp?usr=Triblaze"]{
 color:#ff0000 !important;
background-color:#000000 !important;
border:1px solid # !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=WhiteMan22"],
 a[href^="/ASP/admin/userportal.asp?usr=WhiteMan22"]{
 color:#000000 !important;
background-color:#008000 !important;
border:1px solid #FFFF00 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=WahooWorld15"],
 a[href^="/ASP/admin/userportal.asp?usr=WahooWorld15"]{
 color:#FF6600 !important;
background-color:#000099 !important;
border:1px solid #000099 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=laxboy9"],
 a[href^="/ASP/admin/userportal.asp?usr=laxboy9"]{
 color:#FE0101 !important;
background-color:#FEFDFD !important;
border:1px solid #000000 !important;
font-weight: !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=TW-Sorrow"],
 a[href^="/ASP/admin/userportal.asp?usr=TW-Sorrow"]{
 color:#fff600 !important;
background-color:#f91111 !important;
border:1px solid # !important;
font-weight: !important;
font-style:italic !important;
text-decoration:overline !important;
 }
 a[href^="http://club.ign.com/b/about?username=th3hog"],
 a[href^="/ASP/admin/userportal.asp?usr=th3hog"]{
 color:#970000 !important;
background-color:# !important;
border:1px solid # !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Real-Africantastic"],
 a[href^="/ASP/admin/userportal.asp?usr=Real-Africantastic"]{
 color:#F70000 !important;
background-color:#2B0000 !important;
border:1px solid #FFFFFF !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=iluvmudkipz"],
 a[href^="/ASP/admin/userportal.asp?usr=iluvmudkipz"]{
 color:#ffffff !important;
background-color:#25aafe !important;
border:1px solid #ffcb72 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=bronjames1230"],
 a[href^="/ASP/admin/userportal.asp?usr=bronjames1230"]{
 color:#000000 !important;
background-color:# !important;
border:1px solid #000000 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:line-through !important;
 }
 a[href^="http://club.ign.com/b/about?username=GTporsche"],
 a[href^="/ASP/admin/userportal.asp?usr=GTporsche"]{
 color:#b1161a !important;
background-color:#2559ac !important;
border:1px solid #000000 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=-Frostbite-"],
 a[href^="/ASP/admin/userportal.asp?usr=-Frostbite-"]{
 color:#00BFFF !important;
background-color:# !important;
border:1px solid # !important;
font-weight: !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=ultimate_shino"],
 a[href^="/ASP/admin/userportal.asp?usr=ultimate_shino"]{
 color:#b8ece9 !important;
background-color:#0c1a81 !important;
border:1px solid #b8ece9 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=juggalo13021"],
 a[href^="/ASP/admin/userportal.asp?usr=juggalo13021"]{
 color:#000000 !important;
background-color:#804000 !important;
border:1px solid #111111 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Synthetic_Craze"],
 a[href^="/ASP/admin/userportal.asp?usr=Synthetic_Craze"]{
 color:#ffcc9b !important;
background-color:#1b1b1b !important;
border:1px solid #91542b !important;
font-weight: !important;
font-style:normal !important;
text-decoration:overline !important;
 }
 a[href^="http://club.ign.com/b/about?username=sye024"],
 a[href^="/ASP/admin/userportal.asp?usr=sye024"]{
 color:#00FF33 !important;
background-color:#000099 !important;
border:1px solid #000000 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=InfiniteZr0"],
 a[href^="/ASP/admin/userportal.asp?usr=InfiniteZr0"]{
 color:#FF2400 !important;
background-color:#000000 !important;
border:1px solid #FF2400 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=josh9308"],
 a[href^="/ASP/admin/userportal.asp?usr=josh9308"]{
 color:#feb864 !important;
background-color:#aa6127 !important;
border:1px solid #ffffff !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Stunnerman"],
 a[href^="/ASP/admin/userportal.asp?usr=Stunnerman"]{
 color:#FF0000 !important;
background-color:#000000 !important;
border:1px solid #FF0000 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=HyperstarSponge"],
 a[href^="/ASP/admin/userportal.asp?usr=HyperstarSponge"]{
 color:# !important;
background-color:# !important;
border:1px solid # !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=eMKayKay"],
 a[href^="/ASP/admin/userportal.asp?usr=eMKayKay"]{
 color:#000000 !important;
background-color:#FFFF00 !important;
border:1px solid # !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=OnlyUseMePenis"],
 a[href^="/ASP/admin/userportal.asp?usr=OnlyUseMePenis"]{
 color:#FFFFFF !important;
background-color:#FFFFFF !important;
border:1px solid #FFFFFF !important;
font-weight: !important;
font-style:italic !important;
text-decoration:underline !important;
 }
 a[href^="http://club.ign.com/b/about?username=NVW-LVN"],
 a[href^="/ASP/admin/userportal.asp?usr=NVW-LVN"]{
 color:#000000 !important;
background-color:#dca500 !important;
border:1px solid #ffffff !important;
font-weight: !important;
font-style:normal !important;
text-decoration:overline !important;
 }
 a[href^="http://club.ign.com/b/about?username=Gunzpoint56"],
 a[href^="/ASP/admin/userportal.asp?usr=Gunzpoint56"]{
 color:#000000 !important;
background-color:#6698FF !important;
border:1px solid #000000 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=lildeew"],
 a[href^="/ASP/admin/userportal.asp?usr=lildeew"]{
 color:# !important;
background-color:# !important;
border:1px solid # !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=UnseenMarine"],
 a[href^="/ASP/admin/userportal.asp?usr=UnseenMarine"]{
 color:#BA55D3 !important;
background-color:#000000 !important;
border:1px solid #BA55D3 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:underline !important;
 }
 a[href^="http://club.ign.com/b/about?username=AmberKacee"],
 a[href^="/ASP/admin/userportal.asp?usr=AmberKacee"]{
 color:#ff3366 !important;
background-color:#000000 !important;
border:1px solid #ff3366 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=legend_killer3000"],
 a[href^="/ASP/admin/userportal.asp?usr=legend_killer3000"]{
 color:#000000 !important;
background-color:#fcff00 !important;
border:1px solid #000000 !important;
font-weight: !important;
font-style:italic !important;
text-decoration:line-through !important;
 }
 a[href^="http://club.ign.com/b/about?username=Vesper_Man_Boomer"],
 a[href^="/ASP/admin/userportal.asp?usr=Vesper_Man_Boomer"]{
 color:# !important;
background-color:# !important;
border:1px solid # !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=salvador238"],
 a[href^="/ASP/admin/userportal.asp?usr=salvador238"]{
 color:#ffffff !important;
background-color:#000000 !important;
border:1px solid #EBA000 !important;
font-weight: !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Dan_Ace"],
 a[href^="/ASP/admin/userportal.asp?usr=Dan_Ace"]{
 color:#ffffff !important;
background-color:# !important;
border:1px solid # !important;
font-weight: !important;
font-style:italic !important;
text-decoration:line-through !important;
 }
 a[href^="http://club.ign.com/b/about?username=Demonflare2"],
 a[href^="/ASP/admin/userportal.asp?usr=Demonflare2"]{
 color:#f8f8ff !important;
background-color:#000000 !important;
border:1px solid #f8f8ff !important;
font-weight: !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Warablo"],
 a[href^="/ASP/admin/userportal.asp?usr=Warablo"]{
 color:#003300 !important;
background-color:# !important;
border:1px solid # !important;
font-weight: !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Sith_Anakin"],
 a[href^="/ASP/admin/userportal.asp?usr=Sith_Anakin"]{
 color:#ffffff !important;
background-color:#000000 !important;
border:1px solid #000000 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:overline !important;
 }
 a[href^="http://club.ign.com/b/about?username=NinjaStoneColdTurtle"],
 a[href^="/ASP/admin/userportal.asp?usr=NinjaStoneColdTurtle"]{
 color:#FFCC00 !important;
background-color:#FF0000 !important;
border:1px solid # !important;
font-weight: !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=EaglesVols91"],
 a[href^="/ASP/admin/userportal.asp?usr=EaglesVols91"]{
 color:#ffffff !important;
background-color:#020202 !important;
border:1px solid #000000 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Farsight2000"],
 a[href^="/ASP/admin/userportal.asp?usr=Farsight2000"]{
 color:#f8e50c !important;
background-color:# !important;
border:1px solid # !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=PepsiRacer4"],
 a[href^="/ASP/admin/userportal.asp?usr=PepsiRacer4"]{
 color:#FFFFFF !important;
background-color:#000000 !important;
border:1px solid #FF0000 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=-The-Problem-"],
 a[href^="/ASP/admin/userportal.asp?usr=-The-Problem-"]{
 color:#000000 !important;
background-color:# !important;
border:1px solid # !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=nickknx865"],
 a[href^="/ASP/admin/userportal.asp?usr=nickknx865"]{
 color:#FFFFFF !important;
background-color:#FF7F24 !important;
border:1px solid #FFFFFF !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=bennusmagnus"],
 a[href^="/ASP/admin/userportal.asp?usr=bennusmagnus"]{
 color:#ffff00 !important;
background-color:#191970 !important;
border:1px solid #ffff00 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Rob-Van-Dam-RVD"],
 a[href^="/ASP/admin/userportal.asp?usr=Rob-Van-Dam-RVD"]{
 color:#000000 !important;
background-color:#FFFF11 !important;
border:1px solid #000000 !important;
font-weight: !important;
font-style:italic !important;
text-decoration:line-through !important;
 }
 a[href^="http://club.ign.com/b/about?username=Thabass"],
 a[href^="/ASP/admin/userportal.asp?usr=Thabass"]{
 color:#070100 !important;
background-color:#e96f6f !important;
border:1px solid #030400 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=GTA_S4n_Andr34s"],
 a[href^="/ASP/admin/userportal.asp?usr=GTA_S4n_Andr34s"]{
 color:#ffffff !important;
background-color:#000000 !important;
border:1px solid #ffffff !important;
font-weight: !important;
font-style:italic !important;
text-decoration:line-through !important;
 }
 a[href^="http://club.ign.com/b/about?username=SteelersFreak1"],
 a[href^="/ASP/admin/userportal.asp?usr=SteelersFreak1"]{
 color:#ecdf1b !important;
background-color:#000000 !important;
border:1px solid #ffffff !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=vertigom2"],
 a[href^="/ASP/admin/userportal.asp?usr=vertigom2"]{
 color:#2b78ff !important;
background-color:#ffffff !important;
border:1px solid #067bf0 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=BlackCaesar-THSLA"],
 a[href^="/ASP/admin/userportal.asp?usr=BlackCaesar-THSLA"]{
 color:#fdd023 !important;
background-color:#461d7c !important;
border:1px solid #461d7c !important;
font-weight: !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=ZiggityZag"],
 a[href^="/ASP/admin/userportal.asp?usr=ZiggityZag"]{
 color:#B1B3BC !important;
background-color:#000000 !important;
border:1px solid #B1B3BC !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=unknown"],
 a[href^="/ASP/admin/userportal.asp?usr=unknown"]{
 color:#00ff00 !important;
background-color:#000000 !important;
border:1px solid # !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=frogsplash45"],
 a[href^="/ASP/admin/userportal.asp?usr=frogsplash45"]{
 color:#4ca453 !important;
background-color:#000000 !important;
border:1px solid #4ca453 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=finallyanunusedname"],
 a[href^="/ASP/admin/userportal.asp?usr=finallyanunusedname"]{
 color:#000000 !important;
background-color:#000000 !important;
border:1px solid #000000 !important;
font-weight: !important;
font-style:italic !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Hip-Hop-Potamus"],
 a[href^="/ASP/admin/userportal.asp?usr=Hip-Hop-Potamus"]{
 color:#FFFFFF !important;
background-color:#D93300 !important;
border:1px solid #000000 !important;
font-weight: !important;
font-style:normal !important;
text-decoration:none !important;
 }
 a[href^="http://club.ign.com/b/about?username=Gameguy77562"],
 a[href^="/ASP/admin/userportal.asp?usr=Gameguy77562"]{
 color:#e70926 !important;
background-color:#1c2337 !important;
border:1px solid #ffffff !important;
font-weight: !important;
font-style:italic !important;
text-decoration:overline !important;
 }
}
