/*
Chrome colors:
browser content upper border - #B6BAC0

Extension page
header background - #EBEFF9
header border - #B5C7DE
developer mode background - #F4F6FC
developer mode bottom border - #EDEFF5
extension separator border - #CDCDCD
disabled background - #F0F0F0
*/


html {
margin-top: 0;
padding-top: 0;
}

body {
margin-top: 0;
padding-top: 0;
font-family: Arial, sans-serif;
min-width: 542px;
}

header {
position: relative;
margin: 5px 10px;
min-width: 640px;
max-width: 810px;
}

header > img {
margin-right: 20px;
float: left;
}

header > h1 {
float: left;
margin: 11px 10% 5px 0px;
}

#control {
position: absolute;
float: left;
top: -5px;
right: 0;
z-index: 10;
padding: 10px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
background-color: #EBEFF9;
box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
border: 1px solid #B6BAC0;
border-top: none;
}

#controlOutput {
color: black;
text-align: center;
margin: 0;
max-width: 283px;
background: white;
border-radius: 0 0 3px 3px;
}

#controlOutput:not(:empty) {
margin-top: 1em;
padding: 5px;
border: 1px solid #B5C7DE;
}

#control > input ,
#controlOutput > input {
font-size: 12pt;
padding: 5px 10px;
}

#controlOutput > input {
width: 75px;
}

#controlOutput > p {
margin: 0;
}

#controlOutput > p:not(:last-child) {
margin-bottom: 0.25em;
}

#controlOutput.goodChange > p {
color: green;
}

#controlOutput.badChange > p {
color: red;
}

iframe {
min-width: 300px;
min-height: 300px;
}

section[tab="eula"] > iframe {
max-width: 500px;
width: 99%;
}

fieldset {
float: left;
border-color: #B5C7DE;
border-style: solid;
border-width: 1px;
}

fieldset > fieldset {
float: none;
}

fieldset:not(:last-child) {
margin-bottom: 2em;
}

fieldset > legend ,
fieldset > legend > .preference > label {
font-weight: bold;
font-size: 1em;
}

.tabBox p {
margin-left: 20px;
max-width: 600px;
min-width: 305px;
font-size: 0.9em;
opacity: 0.75;
}

.tabBox fieldset > p {
margin-bottom: 2em;
}

section[tab="position"] > fieldset > fieldset > p {
min-width: 200px;
}

textarea {
margin: 2px !important;
width: 300px;
height: 50px;
max-width: 90%;
}

.preference {
margin: 5px;
padding: 5px;
}

.hidden > .preference:before {
content: "Hidden";
color: red;
}

.preference > label {
margin: 5px;
font-size: 0.8em;
font-weight: bold;
margin-right: 10px;
}

.preference > menu {
display: inline;
margin: 0;
padding: 0;
list-style-type: none;
font-size: 0.7em;
}

.preference > menu > li {
display: inline;
margin: 0 5px;
}

/*disabled by default*/
.preference > menu > li > a {
color: blue;
opacity: 0.3;
pointer-events: none;
cursor: default;
text-decoration: none;
}

.preference > menu > li > a:hover,
.preference > menu > li > a:focus {
color: darkBlue;
}

/*enable*/
.preference.changed > menu > li > a.revertControl,
.preference.changed:not(.invalid) > menu > li > a.saveControl,
.preference.changedFromDefault > menu > li > a.defaultControl {
opacity: 0.8;
pointer-events: auto;
cursor: auto;
text-decoration: underline;
}

.preference.changed > label:after {
content: "*";
position: absolute;
font-size: larger;
color: orange;
}

.preference.changedFromDefault > label {
color: #040;
}

.preference > input,
.preference > textarea,
.preference > select {
display: block;
}

.preference > input[type="checkbox"] {
float: left;
position: relative;
top: -1px;
}

.preference.invalid > label {
color: red;
}

.preference.invalid > input, 
.preference.invalid > select, 
.preference.invalid > textarea {
outline: 1px solid red;
}

.preference.invalid > input:focus, 
.preference.invalid > select:focus, 
.preference.invalid > textarea:focus {
outline-style: dotted;
}

.preference.invalid > menu > li > .saveControl {
color: red;
}

.preference > .errors:empty {
display: none;
}

.preference > .errors {
max-width: 390px;
word-wrap: break-word;
}

.preference.invalid > .errors > li {
color: red;
list-style-type: asterisks;
font-size: 0.9em;
}

.clear {
clear: both;
}

.hidden {
display: none;
}

.notReallyHidden {
display: block;
}

.tabBox {

}

.tabBox > nav {
padding: 10px;
background-color: #EBEFF9;
border: 1px solid #B5C7DE;
border-right-color: #B5C7DE;
border-bottom-color: #B5C7DE;
}

.tabBox.horizontalTabs > nav {
padding-top: 3px;
padding-bottom: 3px;
border-left-width: 0;
border-right-width: 0;
}

.tabBox.verticalTabs > nav {
padding-left: 3px;
padding-right: 3px;
border-top-width: 0;
border-bottom-width: 0;
float: left;
max-width: 132px;
}

.tabBox.horizontalTabs > nav:first-child {
padding-bottom: 0;
}

.tabBox.verticalTabs > nav:first-child {
padding-right: 0;
}

.tabBox > nav *[tab] {
padding: 5px 10px;
margin: 2px;
cursor: pointer;
display: block;
}

.tabBox.horizontalTabs > nav *[tab] {
float: left;
margin-top: 0;
margin-bottom: 0;
}

.tabBox.verticalTabs > nav *[tab] {
margin-left: 0;
margin-right: 0;
}

.tabBox.horizontalTabs > nav:first-child *[tab] {
border-bottom-width: 0;
}

.tabBox.verticalTabs > nav:first-child *[tab] {
border-right-width: 0;
}

.tabBox.verticalTabs > nav *[tab] {
display: block;
}

.tabBox > nav > a[tab] {
background-color: #F0F0F0;
border: 1px solid #B5C7DE;
text-decoration: none;
color: inherit;
}

.tabBox > nav > a[tab][selected] {
background-color: white;
}

.tabBox.horizontalTabs > nav:first-child > a[tab][selected] {
position: relative;
top: 1px;
}

.tabBox.verticalTabs > nav:first-child > a[tab][selected] {
position: relative;
left: 1px;
}

.tabBox > section[tab] {
display: none;
padding: 10px;
position: relative;
overflow: auto;
max-width: 1000px;
min-width: 365px;
}

body > .tabBox > section[tab] {
min-width: 375px;
}

.tabBox > section[tab][selected] {
display: block;
}

.tabBox.verticalTabs > section[tab] {
float: left;
width: 76%;
}

.tabBox.horizontalTabs {
min-width: 691px;
}

section[tab="position"] > fieldset > fieldset {
float: left;
}

#pref_ignoreList > input {
width: 60%;
min-width: 275px;
}
